p.footer {
    font-size: .8rem;
    color: $color_light_grey;
    a {
        &:link,
        &:visited {
            color: #295BA7;
        }
        &:hover {
            color: #2893CF;
        }
    }
}