$body_col_width: 728px;

$font_yes: "Lucida Sans Unicode", "Lucida Sans", "Garuda", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$color_light_grey: rgb(182, 182, 182); 
$color_orange: #FF9000;
$color_red: #eb0000;
$line_light_grey: .1rem solid $color_light_grey;

// responsive design width cutoffs
$responsive_medium: 561px;
$responsive_small: 481px;

@mixin hr() {
    border-bottom: $line_light_grey;
}