.infobox {
    font-family: $font_yes;
    display: table;
    width: 100%;
    text-align: center;

    .infobox-left {
        display: table-cell;
        border-right: $line_light_grey;
        vertical-align: middle;
        padding: .4rem 0;
        @include hr();

        div {
            min-width: $responsive_small / 2;
        }
    }

    .infobox-right {
        display: table-cell;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding: .75rem;
        @include hr();
        
        div {
            min-width: $responsive_small / 2;
        }
    }

    .infobox-content {
        font-size: 1.25rem;
    }

    .infobox-title {
        color: $color_light_grey;
        font-size: 1rem;
    }

    .infobox-ip {
        order: 1;
    }
    .infobox-loc {
        order: 2;
    }
    .infobox-ping {
        order: 3;
    }
    .infobox-ua {
        order: 4;
    }
}