.infobox {
    font-family: $font_yes;
    display: table;
    width: 100%;
    text-align: center;

    .infobox-panel {
        display: table-cell;
        vertical-align: middle;
        height: 6rem; /* equivalent to min-height for table-cell */

        > div {
            padding: .75rem;
        }
    }

    .infobox-left {
        border-right: $line_light_grey;
        @include hr();

        div {
            min-width: $responsive_small / 2;
        }

        .infobox-content {
            font-size: 1.5rem;
            padding: .2rem 0;
        }
    }

    .infobox-right {
        width: 100%;
        text-align: center;
        @include hr();

        div {
            min-width: $responsive_small / 2;
        }

        .infobox-content {
            font-size: 1.25rem;
            padding: .2rem 0;
        }

        .infobox-content-small {
            font-size: 1.1rem;
        }
    }

    .infobox-title {
        color: $color_light_grey;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    .infobox-subtitle {
        color: $color_light_grey;
        font-size: .9rem;
        text-transform: uppercase;
    }

    .infobox-ip {
        order: 1;
    }
    .infobox-loc {
        order: 2;
    }
    .infobox-ping {
        order: 3;
    }
    .infobox-ua {
        order: 4;
    }
}