@media (max-width: 641px) {
  div {
    &#yestext {
      font-size: 0.8em;
    }
    &#yessub {
      font-size: 1.5em;
    }
    &#yesbox {
      padding-top: 3rem;
      padding-bottom: 2.45rem;
    }
  }
  .infobox {
    .infobox-left {
      div {
        min-width: 180px;
      }
      .infobox-content {
        font-size: 1.15rem;
      }
    }
    .infobox-right {
      .infobox-content {
        font-size: 1rem;
      }
    }
    .infobox-title {
      font-size: .9rem;
    }
    .infobox-subtitle {
      font-size: .8rem;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 70%;
    margin: 0 auto;
  }
  th,
  td {
    padding: 1px 4px;
    text-align: left;
    border: 1px solid #ccc;
    text-align: center;
  }
}

@media (max-width: 561px) {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60%;
    margin: 0 auto;
  }
  th,
  td {
    padding: 1px 2px;
    text-align: left;
    border: 1px solid #ccc;
    text-align: center;
  }
}

@media (max-width: 481px) {
  .sc-text {
    display: none;
  }
  div {
    &#yestext {
      font-size: 0.68em;
    }
    &#yessub {
      font-size: 1.25rem;
    }
    &#yesbox {
      padding-bottom: 2.25rem;
    }
  }
  p.question {
    font-size: 100%;
  }
  ul.bodylist {
    text-align: left;
    padding-left: 2.2em;
  }
}

@media screen and (min-width: 0\0) and (min-resolution: 72dpi) {
  #menubar {
    width: 100%;
  }
}

@media screen and (min-width: 0\0) and (min-resolution: 72dpi) and (max-width: 735px) {
  #menubar {
    width: auto;
  }
}