@import 'globals';
@import 'normalize';
@import 'share';
@import 'info';
@import 'menubar';
@import 'responsive';

body {
  margin: 0;
  padding: 0 .5rem;
}

div.hr {
  @include hr();
  margin: .5rem 0;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div#center {
  margin: 0 auto;
  max-width: $body_col_width;
}

.green {
  color: green;
}

.orange {
  color: $color_orange;
}

.red {
  color: $color_red;
}

p {
  &.question {
    text-align: center;
    font-size: 1.25rem;
    color: #006DD7;
  }
  &.answer {
    font-family: Georgia,serif;
    font-size: 90%;
    text-align: justify;
  }
  a {
    &:link, &:visited {
      color: #00E;
    }
    &:hover {
      color: #0073EE;
    }
    &.easteregg {
      &:link, &:visited {
        text-decoration: none;
        color: #000;
      }
      &:hover {
        text-decoration: none;
        color: gray;
      }
    }
  }
}

div {
  &.test-info-wrapper {
    padding-bottom: .75rem;
  }
  &.list {
    width: 95%;
  }
  &#yesbox {
    text-align: center;
    font-family: $font_yes;
    padding-top: 3.5em;
    padding-bottom: 3.1em;
  }
  &#yestext {
    a {
      font-size: 7em;
      font-weight: 700;
      text-decoration: none;
      outline: 0;
      cursor: pointer;
    }
  }
  &#yessub {
    font-size: 200%;
    line-height: .1em;
  }
}

span#status {
  font-weight: 700;
}

ul.bodylist {
  font-family: Helvetica,Arial,sans-serif;
  font-size: .84em;
  color: gray;
  text-align: justify;
  padding-left: 3em;
  a {
    &:link, &:visited {
      color: #295BA7;
    }
    &:hover {
      color: #2893CF;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 80%;
  margin: 0 auto;
}

th, td {
  padding: 2px 12px;
  text-align: left;
  border: 1px solid #ccc;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #cce9fe;
}

.grow {
  display: inline-block;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  z-index: 0;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

p.copyright {
  font-size: 78%;
  color: gray;
  a {
    &:link, &:visited {
      color: #295BA7;
    }
    &:hover {
      color: #2893CF;
    }
  }
}

@media (max-width: 641px) {
  div {
    &#yestext {
      font-size: 0.8em;
    }
    &#yessub {
      font-size: 1.5em;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 70%;
    margin: 0 auto;
  }
  th, td {
    padding: 1px 4px;
    text-align: left;
    border: 1px solid #ccc;
    text-align: center;
  }
}
