<p class="copyright">
    &copy; Copyright 2011-<script>document.write((new Date()).getFullYear());</script> Is My Internet Working. 
    Written and maintained by Brian Cui. Is My Internet Working is not to be held responsible for
    any incidental, consequential, or indirect damages from the information written on this website. We cannot guarantee
    that everything on here is perfectly safe. By following the guides on this site you assume total responsibility and risk
    of possible damages.
</p>
<p class="copyright">Location data provided courtesy of
    <a href="https://freegeoip.net/" target="_blank">freegeoip.net</a>. 
    No user location data acquired from these sources is ever stored by this website to respect your privacy.
</p>
<p class="copyright" style="font-size: 84%; text-align: center;">
    <b>v3.0.0 "Revolution" | Last updated 01/17/2018.</b>
    <br>Please forward fanmail, complaints, and cat videos to yourwebsiteworks [at] gmail /dot/ com.
</p>