<div class="infobox">
    <div class="infobox-ip infobox-left">
        <div>
            <div class="infobox-title">IP ADDRESS</div>
            <div class="infobox-content infobox-content-ip">AA:BB:CC:DD:EE:FF</div>
            <div class="infobox-subtitle">prev AA:BB:CC:DD:EE:FF</div>
        </div>
    </div>
    <div class="infobox-loc infobox-right">
        <div>
            <div class="infobox-title">ESTIMATED LOCATION</div>
            <div class="infobox-content infobox-content-loc">Austin, Texas 78705, United States</div>
        </div>
    </div>
</div>
<div class="infobox">
    <div class="infobox-ping infobox-left">
        <div>
            <div class="infobox-title">PING</div>
            <div class="infobox-content infobox-content-ping">2000 ms</div>
            <div class="infobox-subtitle">avg 4000 ms</div>
        </div>
    </div>
    <div class="infobox-ua infobox-right">
        <div>
            <div class="infobox-title">USER AGENT</div>
            <div class="infobox-content infobox-content-ua">
                <script>
                    document.write(navigator.userAgent);
                </script>
            </div>
        </div>
    </div>
</div>
