<div class="infobox">
    <div class="infobox-panel infobox-ip infobox-left">
        <div>
            <div class="infobox-title">IP ADDRESS</div>
            <div class="infobox-content infobox-content-ip">N/A</div>
            <div class="infobox-subtitle">prev 
                <span class="infobox-content-ip-prev">
                    <script>
                        document.write(window.localStorage.getItem("infobox-prev-ip") || "N/A");
                    </script>
                </span>
            </div>
        </div>
    </div>
    <div class="infobox-panel infobox-loc infobox-right">
        <div>
            <div class="infobox-title">ESTIMATED LOCATION</div>
            <div class="infobox-content infobox-content-loc">N/A</div>
        </div>
    </div>
</div>
<div class="infobox">
    <div class="infobox-panel infobox-ping infobox-left">
        <div>
            <div class="infobox-title">PING</div>
            <div class="infobox-content infobox-content-ping">N/A</div>
            <div class="infobox-subtitle">ip avg <span class="infobox-content-ping-avg">N/A</span></div>
        </div>
    </div>
    <div class="infobox-panel infobox-ua infobox-right">
        <div>
            <div class="infobox-title">USER AGENT</div>
            <div class="infobox-content infobox-content-ua">
                <script>
                    if (navigator.userAgent.length > 80) {
                        document.getElementsByClassName("infobox-content-ua")[0]
                            .classList.add("infobox-content-small");
                    }
                    document.write(navigator.userAgent);
                </script>
            </div>
        </div>
    </div>
</div>
