<div class="infobox">
    <div class="infobox-ip infobox-left">
        <div>your ip addr</div>
    </div>
    <div class="infobox-loc infobox-right">
        <div>your location addr</div>
    </div>
</div>
<div class="infobox">
    <div class="infobox-ping infobox-left">
        <div>your ping</div>
    </div>
    <div class="infobox-ua infobox-right">
        <div>your ua</div>
    </div>
</div>
