<div class="infobox">
    <div class="infobox-ip infobox-left">
        <div><span class="info-content-ip">N/A</span></div>
    </div>
    <div class="infobox-loc infobox-right">
        <div><span class="info-content-loc">N/A</span></div>
    </div>
</div>
<div class="infobox">
    <div class="infobox-ping infobox-left">
        <div><span class="info-content-ping">N/A</span></div>
    </div>
    <div class="infobox-ua infobox-right">
        <div>
            <span class="info-content-ua">
                <script>
                    document.write(navigator.userAgent);
                </script>
            </span>
        </div>
    </div>
</div>
